:root {
    --font-text: "Open Sans", serif;
    --font-title: "Quicksand", serif;
    
    --color-design: #dc285b;
    --color-design-light: #f9cbdb;
    --color-design-dark: #961839;
    
    --color-front: #29bbaf;
    --color-front-light: #c2e6e9;
    --color-front-dark: #248981;
    
    --color-back: #1f4280;
    --color-back-light: #ced7ed;
    --color-back-dark: #1f4280;
    
    --color-cms: #430080;
    --color-cms-light: #d3c1e5;
    --color-cms-dark: #430080;
    
    --color-grey-light: #c2c2c2;
    
    --width-wrapper: 1000px;

    --width-timeline-branch: 35px;
}

@keyframes growHeight {
    from {
        height: 50%;
    }
    to {
        height: 100%;
    }
}

@keyframes growWidth {
    from {
        width: 0;
    }
    to {
        width: var(--width-timeline-branch);
    }
}

@keyframes fromBotToTop {
    from {
        top: 50%;
    }
    to {
        top: -1px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: var(--font-text);
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

.style-design {
    color: var(--color-design);
}

.style-front {
    color: var(--color-front);
}

.style-back {
    color: var(--color-back);
}

.style-cms {
    color: var(--color-cms);
}

main {
    width: var(--width-wrapper);
    margin: 0 auto;
}

main > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

main > header h1 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-family: var(--font-title);
    margin: 0;
}

main > header h1 strong {
    font-weight: 500;
}

main > header .subtitle {
    font-weight: initial;
    font-family: var(--font-title);
    margin-bottom: 70px;
}

main > header .lang-switch {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 50px;
}

main > header .lang-switch a img {
    height: 25px;
    transform: scale(1);
    opacity: .5;
    transition: .3s ease;
    transition-property: transform, opacity;
}

main > header .lang-switch a:hover img,
main > header .lang-switch a.active img {
    opacity: 1;
    transform: scale(1.2);
}

main > header p {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 0;
}

main > header .social-medias {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

main > header .social-medias li {
    display: flex;
    align-items: center;
    gap: 5px;
}

main > header .social-medias li img {
    height: 15px;
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::before {
    content: '';
    display: block;
    width: 0;
    border-style: solid;
    border-width: 0 10px 25px 10px;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -1px;
    left: calc(50% - 10px);
    animation: 1s fromBotToTop forwards;
}

.timeline::after {
    content: '';
    display: block;
    width: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: calc(50% - 1px);
    animation: 1s growHeight forwards;
}

.timeline section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    position: relative;
}

.timeline section::after {
    content: '';
    display: block;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 40px;
}

.timeline section .content {
    opacity: 0;
}

.timeline section.visible::after {
    animation: .7s growWidth forwards;
}

.timeline section.visible .content {
    animation: .7s fadeIn .5s forwards;
}

.timeline section .content header h2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.timeline section .content header h2 img {
    height: 15px;
}

.timeline section .content header time {
    font-size: 12px;
}

.timeline section .content ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.timeline section .content ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    border-radius: 7px;
    white-space: nowrap;
    background-color: var(--color-grey-light);
    padding: 5px 10px;
}

.timeline section .content ul li img {
    height: 15px;
}

.timeline section .content ul li.style-design {
    background-color: var(--color-design-light);
}

.timeline section .content ul li.style-front {
    color: var(--color-front-dark);
    background-color: var(--color-front-light);
}

.timeline section .content ul li.style-back {
    background-color: var(--color-back-light);
}

.timeline section .content ul li.style-cms {
    background-color: var(--color-cms-light);
}

.timeline section.align-left .content {
    grid-column: 1 / 2;
}

.timeline section.align-left::after {
    right: 50%;
}

.timeline section.align-left .content header {
    text-align: right;
}

.timeline section.align-right .content {
    grid-column: 2 / 3;
}

.timeline section.align-right::after {
    left: 50%;
}

main > footer {
    text-align: center;
    padding: 50px 0;
}

main > footer img {
    height: 60px;
}

@media (max-width: 1080px) {
    :root {
        --width-wrapper: calc(100% - 80px);
    }
}

@media (max-width: 700px) {
    main > header {
        margin-bottom: 30px;
    }

    main > header .subtitle {
        margin-bottom: 40px;
    }

    main > header .lang-switch {
        top: 10px;
        right: 30px;
    }

    .timeline {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .timeline section {
        margin-bottom: 70px;
        position: relative;
        z-index: 1;
    }

    .timeline section::after {
        width: 12px;
        height: 12px;
        background-color: white;
        border: 2px solid black;
        border-radius: 50%;
        top: -30px;
        opacity: 0;
    }

    .timeline section.visible::after {
        animation: .7s fadeIn forwards;
    }

    .timeline section.no-content {
        margin-bottom: 30px;
    }

    .timeline section:last-child {
        margin-bottom: 0;
    }

    .timeline section .content p {
        background-color: white;
    }

    .timeline section .content ul {
        justify-content: center;
    }

    .timeline section.align-left .content {
        grid-column: 1 / 3;
    }

    .timeline section.align-left::after {
        right: calc(50% - 8px);
    }

    .timeline section.align-left .content header,
    .timeline section.align-right .content header{
        text-align: center;
        background-color: white;
    }

    .timeline section.align-right .content {
        grid-column: 1 / 3;
    }

    .timeline section.align-right::after {
        left: calc(50% - 8px);
    }
}
